$black: #000000
$white: #FFFFFF
$light_grey: #AAAAAA
$dark_grey: #333333

body
  margin: 0
  text-align: center
  font-family: Helvetica, Arial, sans-serif
  font-size: 16px

.inner
  width: 950px
  margin: 0 auto
  padding: 60px 0

h2
  font-family: 'Telex', sans-serif
  font-size: 6em
  margin: 20px 0
  font-weight: normal

h3
  font-size: 3em
  margin: 30px 0
  font-weight: normal
  line-height: 1.2em

p
  line-height: 1.6em
  strong
    font-weight: normal
    font-size: 1.2em
  .summary
    font-weight: normal
    font-size: 1.5em

#about
  background: $dark_grey
  color: $light_grey
  padding-top: 30px
  position: relative
  z-index: 1
  h2
    color: $white
  a:hover
    color: $white

#web
  background: $white
  color: $dark_grey
  -webkit-box-shadow: 0px 0px 40px 0px $black
  -moz-box-shadow: 0px 0px 40px 0px $black
  box-shadow: 0px 0px 40px 0px $black
  position: relative
  z-index: 3

#resume
  color: $white
  -webkit-box-shadow: 0px 0px 40px 0px $black
  -moz-box-shadow: 0px 0px 40px 0px $black
  box-shadow: 0px 0px 40px 0px $black
  position: relative
  z-index: 2
  h2
    color: $white
  a:hover
    color: $black
  p
    font-size: 1.4em

#nav
  background: rgb(0,0,0)
  background: rgba(0,0,0,0.8)
  position: fixed
  z-index: 10
  top: 15px
  left: 0
  height: 52px
  width: 100%
  ul
    list-style: none
    text-align: center
    color: $white
    margin: 0
    padding: 0
    font-size: 1.5em
  li
    display: inline
    vertical-align: middle
    a
      color: $white
      text-decoration: none
      vertical-align: middle
  .inner
    height: 32px
    padding: 10px 0
    li
      margin: 0 20px
  .colors
    position: absolute
    z-index: 11
    top: 0
    right: 0
    padding: 10px
    a
      &:hover
        border: 2px solid $light_grey
      border: 2px solid $black
      float: left
      margin: 0 5px
      display: block
      height: 28px
      width: 28px

#footer
  background: $dark_grey
  color: $light_grey
  font-size: .7em
  .inner
    padding: 10px 0
  a:hover
    color: $white
