$grey: #303030
$white: #FEFEFE
$pink: #F02475
$size: 200px

body
  background: $grey
  color: $white
  margin: 0
  font-family: 'Lato', sans-serif
  font-weight: 100
  font-size: $size
  a
    color: $white
    &:hover
      color: $pink
    text-decoration: none

#body
  .inner
    display: inline-block
    overflow: hidden
    white-space: nowrap
    margin: .25em 0 0 .25em
  .gabe
    color: $pink
    margin: -.45em 0 0 -.12em
  .link
    margin-top: -.25em
    font-size: .66em
    .reveal
      display: inline
  .small
    margin-top: -.66em
    font-size: .5em
  .github
    margin-left: -.12em
  .clipboard
  .tumblr

  .projects
    color: $pink
    margin: -.25em 0 0 -.2m
  .tchotchke
  .freed
