$grey: #303030
$white: #FEFEFE
$pink: #F02475
$size: 200px

body
  background: $grey
  color: $white
  margin: 0
  font-family: 'Lato', sans-serif
  font-weight: 100
  font-size: $size

a
  color: $white
  &:hover
    color: $pink
  text-decoration: none
  -webkit-transition: color .25s ease
  -moz-transition: color .25s ease
  transition: color .25s ease

.inner
  display: inline-block
  overflow: hidden
  white-space: nowrap
  margin: .25em 0 0 .25em

.title
  color: $pink
.list
  float: left
.link
  margin-top: -.3em

.large
  font-size: .75em
.medium
  font-size: .5em
.small
  font-size: .25em
.x-small
  font-size: .125em
.centered
  text-align: center

.gabe
  margin-top: -.45em

.github
  margin-left: .5em
.linkedin
  margin-left: .05em

.clipboard
.tumblr
  margin-left: 1.1em
.lastfm
  margin-left: .75em
.steam

.projects
  margin: -.1em 0 0 1.5em
.tchotchke
  margin-left: .35em
.freed
  margin-left: 0

.clear
  clear: both

.footer
  margin-top: .25em
