!!!
%html{lang: 'en'}
  %head
    %title sgtFloyd.com
    %meta{"http-equiv"=>'Content-Type', content:'text/html;charset=UTF-8'}
    %meta{name: 'description', content: ''}

    %link{rel: 'shortcut icon', href: '/favicon.ico'}
    %link{rel: 'icon', type: 'image/png', sizes: '32x32', href: '/icons/favicon-32x32.png'}
    %link{rel: 'icon', type: 'image/png', sizes: '16x16', href: '/icons/favicon-16x16.png'}
    %link{rel: 'apple-touch-icon', sizes: '180x180', href: '/icons/apple-touch-icon.png'}
    %link{rel: 'manifest', href: '/icons/site.webmanifest'}
    %link{rel: 'mask-icon', href: '/icons/safari-pinned-tab.svg', color: '#292929'}
    %meta{name: 'msapplication-TileColor', content: '#00aba9'}
    %meta{name: 'msapplication-config', content: '/icons/browserconfig.xml'}
    %meta{name: 'theme-color', content: '#f8f8f8'}

    %link{rel: 'stylesheet', type: 'text/css', href: 'http://fonts.googleapis.com/css?family=Lato:300'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://use.fontawesome.com/releases/v5.0.1/css/all.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'style.css'}

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create','UA-35181758-1', 'auto');ga('send','pageview');

    :ruby
      background_colors = [ %w[#eeebcc #dee0cb #a99d9f #beb5b6],
                            %w[#cdd4b3 #c5b8a8 #a98f9a #917b88],
                            %w[#bdc7ac #b6b7a7 #bf9694 #947f88],
                            %w[#a79c96 #aa9194 #d7a197 #9d888d] ]
  %body
    .background
      - background_colors.each do |row|
        .row
          - row.each do |color|
            .square{style: "background-color: #{color}"}
    .inner
      .title gabe smith
      %ul.links.fa-ul
        %li
          %a.link{href: 'https://github.com/sgtfloyd', target: '_blank'}<>
            %i.icon.fab.fa-github-square
            %span.text github
        %li
          %a.link{href: 'https://www.linkedin.com/in/sgtfloyd', target: '_blank'}<>
            %i.icon.fab.fa-linkedin
            %span.text linkedin
        %li
          %a.link{href: 'http://steamcommunity.com/id/sgtFloyd', target: '_blank'}<>
            %i.icon.fab.fa-steam-square
            %span.text steam
        %li
          %a.link{href: 'http://last.fm/user/stickynips', target: '_blank'}<>
            %i.icon.fab.fa-lastfm-square
            %span.text last.fm
        %li
          %a.link{href: 'https://goodreads.com/sgtfloyd', target: '_blank'}<>
            %i.icon.fab.fa-goodreads
            %span.text goodreads
        %li
          %a.link{href: 'http://blog.sgtfloyd.com', target: '_blank'}<>
            %i.icon.fab.fa-tumblr-square
            %span.text blog
        %li
          %a.link{href: 'https://twitter.com/sgtFlyd', target: '_blank'}<>
            %i.icon.fab.fa-twitter-square
            %span.text twitter
