$text-color: #292929

html, body
  height: 100%
  margin: 0
  padding: 0
  width: 100%

body
  color: $text-color
  font-family: 'Lato', sans-serif
  font-size: 200px
  font-weight: 300

.background
  display: flex
  flex-direction: column
  height: 100%
  position: fixed
  width: 100%
  z-index: -1

.row
  display: flex
  flex-direction: row
  height: 25%

.square
  width: 25%

.inner
  display: inline-block
  margin: .25em 0 0 .25em
  overflow: hidden
  white-space: nowrap

.title
  margin-top: -.44em

.links
  font-size: 0.25em
  margin: 0 0 0 2.5em

.link
  color: $text-color
  display: block
  text-decoration: none
  &:active, &:hover
    .text
      text-decoration: underline
    .icon
      opacity: 1

.icon
  opacity: 0.9
  padding-right: 0.1em
