$black: #292929

html
  background: url(background.jpg) repeat
  background-size: cover

body
  color: $black
  margin: 0
  font-family: 'Lato', sans-serif
  font-weight: 300
  font-size: 200px

.inner
  display: inline-block
  overflow: hidden
  margin: .25em
  white-space: nowrap

.title
  margin-top: -.44em

.links
  font-size: 0.25em
  margin-top: 0

.link
  color: $black
  display: block
  text-decoration: none
  .icon
    opacity: 0.9
    padding-right: 0.1em
  &:active, &:hover
    .text
      text-decoration: underline
    .icon
      opacity: 1
