body {
  background: #303030;
  color: #fefefe;
  margin: 0;
  text-align: center;
  font-family: "Averia Libre", sans-serif;
  font-size: 16px; }
  body a {
    color: #f02475;
    text-decoration: none; }

#footer {
  font-size: 0.7em; }
  #footer .inner {
    padding: 10px 0; }
