body {
  margin: 0;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px; }

.inner {
  width: 950px;
  margin: 0 auto;
  padding: 60px 0; }

h2 {
  font-family: "Telex", sans-serif;
  font-size: 6em;
  margin: 20px 0;
  font-weight: normal; }

h3 {
  font-size: 32px;
  font-weight: normal; }

p {
  line-height: 1.6em; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.clear {
  clear: both; }

#about {
  padding-top: 30px;
  position: relative;
  z-index: 1; }

#web {
  -webkit-box-shadow: 0px 0px 40px 0px black;
  -moz-box-shadow: 0px 0px 40px 0px black;
  box-shadow: 0px 0px 40px 0px black;
  position: relative;
  z-index: 2; }
  #web #links {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 5px solid; }
    #web #links ul {
      text-align: left; }
    #web #links .column {
      display: block;
      float: left; }
    #web #links .last {
      float: right; }

#nav {
  background: black;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 10;
  top: 15px;
  left: 0;
  width: 100%; }
  #nav ul {
    text-align: center;
    color: gray;
    margin: 0;
    padding: 0;
    font-size: 1.5em; }
  #nav li {
    display: inline;
    vertical-align: middle;
    margin: 0 20px;
    font-family: "Telex", sans-serif; }
    #nav li a {
      color: white;
      vertical-align: middle; }
  #nav .inner {
    padding: 10px 0; }
  #nav .colors {
    position: absolute;
    z-index: 11;
    top: 50%;
    margin: -16px 20px;
    right: 0; }
    #nav .colors a {
      border: 2px solid black;
      float: left;
      margin: 0 5px;
      display: block;
      height: 28px;
      width: 28px; }
      #nav .colors a:hover {
        border: 2px solid; }

#footer {
  font-size: 0.7em; }
  #footer .inner {
    padding: 10px 0; }
