%html
  %head
    %title sgtFloyd
    -#%link{:rel => "stylesheet", :type => "text/css", :href => "css/tchotchke.css"}
    -#%script{:type => 'text/javascript',  :src => 'js/jquery.js'}

  %body
    %p="Generated #{Time.now}"