:ruby
  dark  = "#303030"
  light = "#FEFEFE"
  funk  = "#F02475"  # colourlovers.com/palette/522000

:plain
  <!DOCTYPE html>
%html{ lang:'en' }
  %head
    %title sgtFloyd
    %meta{"http-equiv"=>'Content-Type', content:'text/html;charset=UTF-8' }
    %meta{ name:'description', content:'' }
    %link{ rel:'shortcut icon', href:'favicon.png' }

    %link{ rel:'stylesheet', type:'text/css', href:'http://fonts.googleapis.com/css?family=Lato:100,300' }
    %link{ rel:'stylesheet', type:'text/css', href:'style.css' }

    -#%script{ src:'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', type:'text/javascript' }

  %body

    #body
      .inner
        .sgtfloyd sgtFloyd
        %a.github{ href: 'http://github.com/sgtFloyd' } github
        %br
        %a.tumblr{ href: 'http://sgtfloyd.tumblr.com' } tumblr
        %br
        %a.twitter{ href: 'http://twitter.com/sgtFlyd' } twitter
        %br
        %br
        -# .small
        -#   %a.tchotchke{ href: 'http://tchotchke.herokuapp.com' } tchotchke
        -#   %br
        -#   %a.freed{ href: 'http://freed.herokuapp.com' } freed

    -# #footer
    -#   .inner
    -#     = "Copyright &copy #{Time.now.year} Gabe Smith - Powered by "
    -#     %a{ href: 'http://pages.github.com/', title: 'GitHub Pages' } GitHub Pages
    -#     ="-"
    -#     %a{ href: 'https://github.com/sgtFloyd/sgtfloyd.github.com', title: 'View Source' } View Source
