:ruby
  dark  = "#303030"
  light = "#FEFEFE"
  funk  = "#F02475"  # colourlovers.com/palette/522000

!!!
%html{ lang:'en' }
  %head
    %title sgtFloyd
    %meta{"http-equiv"=>'Content-Type', content:'text/html;charset=UTF-8' }
    %meta{ name:'description', content:'' }
    %link{ rel:'shortcut icon', href:'/favicon.gif' }

    %link{ rel:'stylesheet', type:'text/css', href:'http://fonts.googleapis.com/css?family=Lato:100' }
    %link{ rel:'stylesheet', type:'text/css', href:'http://sgtfloyd.com/dotGlyfs/style.css' }
    %link{ rel:'stylesheet', type:'text/css', href:'style.css' }

    <!--[if lte IE 7]><script src="http://sgtfloyd.com/dotGlyfs/lte-ie7.js"></script><![endif]-->

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-35181758-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body
    .inner
      .gabe.title gabe smith
      .large.list
        .github.link
          %a{ href: 'http://github.com/sgtFloyd', title: 'github' } github
        .linkedin.link
          %a{ href: 'http://linkedin.com/in/sgtfloyd', title: 'linkedin' } linkedin

      .small.list
        .steam.link
          %a{ href: 'http://steamcommunity.com/id/sgtFloyd', title: 'steam' }
            %span.glyf-steam
        .clipboard.link
          %a{ href: 'http://clipboard.com/sgt', title: 'clipboard' }
            %span.glyf-clipboard
        .lastfm.link
          %a{ href: 'http://last.fm/user/stickynips', title: 'last.fm' }
            %span.glyf-lastfm
        .tumblr.link
          %a{ href: 'http://sgtfloyd.tumblr.com', title: 'tumblr' }
            %span.glyf-tumblr
      .clear

      .medium.projects
        .title projects
        .tchotchke.link
          %a{ href: 'http://tchotchke.herokuapp.com', title: 'tchotchke' } tchotchke
        .freed.link
          %a{ href: 'http://freed.herokuapp.com', title: 'freed' } freed

      .footer
        .x-small.centered
          powered by
          %a{ href: 'http://pages.github.com/', title: 'gitHub pages' } github pages
          \-
          %a{ href: 'https://github.com/sgtFloyd/sgtfloyd.github.com', title: 'view source' } view source
